/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Libre Baskerville', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h2,
h3,
h4,
h5 {
  font-size: 2.5rem;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
}
.container nav {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  background: #8B0000;
}
@media (max-width: 500px) {
  .container nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container nav a {
  text-decoration: none;
  color: #F5DEB3;
  padding: 10px;
}
.container nav a:hover {
  background: grey;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6B8E23;
}
.home {
  display: flex;
  flex-direction: column;
  background: #808000;
}
.home .top {
  background-image: url(/img/nycrestaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home .top h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.home .top h1,
.home .top h2 {
  color: white;
}
.home #top-content {
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home #top-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.home #top-content .welcome {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home #top-content .welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.home #top-content .img-content {
  width: 55%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
@media (max-width: 500px) {
  .home #top-content .img-content {
    width: 100%;
  }
}
.home #middle-content {
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .home #middle-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
.home #middle-content .middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 24px;
}
@media (max-width: 500px) {
  .home #middle-content .middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
.home #middle-content .middle-img {
  width: 44%;
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .home #middle-content .middle-img {
    width: 98%;
  }
}
.home #bottom-content {
  width: 100%;
  display: flex;
}
@media (max-width: 500px) {
  .home #bottom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.home #bottom-content .bottom {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
@media (max-width: 500px) {
  .home #bottom-content .bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
}
.home #bottom-content .bottom-img {
  width: 50%;
  display: flex;
  padding-left: 60px;
  padding-top: 33px;
  padding-bottom: 25px;
}
@media (max-width: 500px) {
  .home #bottom-content .bottom-img {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
}
